* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 130px;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.conteudo h1{
    font-size: 100px;
}
.conteudo p{
    font-size: 40px;
    width: 80%;
}
.conteudo button{
    height: 55px;
    width: 200px;
    background-color: rgb(224, 74, 134);
    color: rgb(238, 190, 222);
    font-size: 32px;
}

.conteudo .social{
    display: flex;
    justify-content: space-between;
    width:80%
}

.conteudo .social div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightgrey;
}

div img{
    height: 130px;
    border-radius: 5px;
}

.destaque{
    width: 40%;
    background-image: url(./Pó\ translucido.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}

footer{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;   
}







/* FIM DO RESET */